* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-family: Garamond;
    color: #a0568f;
    background-color: #843c72;
    font-size: 40px;
    padding: 20px;
}

.header2 {
    text-align: center;
    font-family: Garamond;
    color: #a0568f;
    background-color: #843c72;
    font-size: 20px;
    padding: 10px;
}

.main {
    padding: 20px;
    font-family: Garamond;
    color: black;
}

.topnav {
    font-family: Garamond;
    font-size: 1vw;
    background-color: #843c72;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

.topnav a {
    color: #a0568f;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.topnav a:hover {
    background-color: #a0568f;
}
